* {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	max-width: 960px;
}

body {
	width: 960px;
}

.navi {
	position: fixed;
	top: 0;
	width: 100%;
}

ul {
	background-color: #f0f0f0;
}

ul::after {
	content: "";
	clear: both;
	display: block;
}

li {
	float: left;
	width: 25%;
	text-align: center;
	border: 1px solid #444444;
}

li a {
	display: block;
	padding: 25px;
}

#box_1,
#box_2,
#box_3,
#box_4 {
	width: 100%;
	margin: 40px auto;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

#box_1 {
	height: 500px;
	line-height: 500px;
	background-color: forestgreen;
}

#box_2 {
	height: 300px;
	line-height: 300px;
	background-color: blueviolet;
}

#box_3 {
	height: 400px;
	line-height: 400px;
	background-color: blue;
}

#box_4 {
	height: 600px;
	line-height: 600px;
	background-color: red;
}

#scrY {
	position: fixed;
	top: 50px;
	left: 50px;
	font-size: 20px;
	font-weight: bold;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #252525;
	line-height: 200px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: white;
}
